<!DOCTYPE html>

<html>
<head>
    <title> RAG 'n Roll </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/chat.js"></script>
</head>
<body>
    <h1 class="title"> RAG 'n Roll </h1>
    <div class="chat">
        <div class="messages">
            <div class="message">
                <p> 
                    Hey, I'm your friendly assistant. I can help you with your questions based on the information provided in documents.
                </p>
            </div>
        </div>
        <div class="input">
            <input id='input-text' type="text" placeholder="Type your question here..." />
            <input id='ask-button' type="submit" value="Ask!" />
        </div> 
    </div>
</body>
</html>